<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClangSharp" version="3.6.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="libusbmuxd" version="1.0.10.13" targetFramework="native" />
  <package id="libusbmuxd.redist" version="1.0.10.13" targetFramework="native" />
  <package id="libplist" version="1.12.48" targetFramework="native" />
  <package id="libimobiledevice" version="1.2.0.34" targetFramework="native" />
  <package id="libimobiledevice.redist" version="1.2.0.34" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="Native" />
  <package id="libxml2.redist" version="2.7.8.7" targetFramework="Native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="fix8.dependencies.getopt" version="1.0.20151130.1" targetFramework="native" />
</packages>