<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClangSharp" version="3.6.0" targetFramework="net452" />
  <package id="fix8.dependencies.getopt" version="1.0.20151130.1" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="Native" />
  <package id="libimobiledevice" version="1.2.0.37" targetFramework="native" />
  <package id="libimobiledevice.redist" version="1.2.0.37" targetFramework="native" />
  <package id="libimobiledevice.symbols" version="1.2.0.37" targetFramework="native" />
  <package id="libplist" version="1.12.48" targetFramework="native" />
  <package id="libusbmuxd" version="1.0.10.13" targetFramework="native" />
  <package id="libusbmuxd.redist" version="1.0.10.13" targetFramework="native" />
  <package id="libxml2.redist" version="2.7.8.7" targetFramework="Native" />
  <package id="usbmuxd" version="1.1.0.29" targetFramework="native"/>
  <package id="pthreads" version="2.9.1.4" targetFramework="native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="native" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp.Features" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Features" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net452" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.0" targetFramework="net452" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>